.card {
  background-color: #ffffff;
  text-align: left;
  border-radius: 4px;
  overflow: hidden;
}

.card-thread{
  margin-bottom: 20px;
}

.card-body{
  text-align: justify;
}

.card-header{
  display: flex;
}

.card-pseudo{
  display: flex;
  flex-direction:column ;
  flex-grow: 2;
  align-self: flex-end;
}
.date{
  font-size: 0.9rem;
}


  .video{
    width: 100%;
  }
  

.icon{
  width: 1.5rem;
}
.image {
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  &--avatar {
    display: inline-block;
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  img {
    display: inline-block;
    vertical-align: middle;
    border: none;
  }
}

.btn-group{
  align-items: center;
}
.btn-icon {
  background-color:inherit !important;
  border: none !important;
}

.card-footer {
  .btn-icon{
    width:40px;
    background-color: transparent !important;
  }
}

.comment-container{
  border-radius: 0 !important;
  
}

.subpart-comment{
  display: flex;
}

.update-comment{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.text-comment{
  display:flex;
  justify-content: space-between;
}

.edit-comment{
  span{
    position: absolute;
    right: 10px;
    top: 0px;
  }
  button{
    float:right;
  }
}

.btn-comment{
  float: right;
}

.img-comment {
  max-width: 30px !important;
  max-height: 30px !important;
  margin-right: 10px;
}

textarea{
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
}

.post-form{
  margin-bottom: 20px;
}

.postform-container {
    margin-bottom: 20px;
    padding: 16px 40px;
    border-radius: 20px;
    position: relative;
    background-color: #f8f8f8;

    .form-control{
      display: flex;
    }

    .img-postform{
      width: 30px !important;
      margin-right: 10px;
    }

    .btn-send{
      margin-top: 10px;
      justify-content: right;
    }
}

.update-post{
  .form-control{
    display: flex;
  }
  .img-postform{
    width: 30px !important;
    margin-right: 10px;
  }
}

.button-container{
  text-align: end;
}

.avatar-profil{
  width:70px !important;
}

.card-img-overlay{
  height: 100px;
}

.follow{
  border: none !important;
}

.hstack{
  align-self: center !important;
  text-align: center !important;
}