.card {
  background-color: #ffffff;
  text-align: left;
  border-radius: 4px;
  overflow: hidden;
}

.card-thread{
  margin-bottom: 20px;
}

.card-body{
  text-align: justify;
}

.card-header{
  display: flex;
}

.card-pseudo{
  display: flex;
  flex-direction:column ;
  flex-grow: 2;
  align-self: flex-end;
}
.date{
  font-size: 0.9rem;
}


  .video{
    width: 100%;
  }
  

.icon{
  width: 1.5rem;
}
.image {
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  &--avatar {
    display: inline-block;
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  img {
    display: inline-block;
    vertical-align: middle;
    border: none;
  }
}

.btn-group{
  align-items: center;
}
.btn-icon {
  background-color:inherit !important;
  border: none !important;
}

.card-footer {
  .btn-icon{
    width:40px;
    background-color: transparent !important;
  }
}

.comment-container{
  border-radius: 0 !important;
  
}

.right-part{
  flex-direction: row;
  display: flex;
}

.text-comment{
  flex-grow: 4;
}

.btn-comment{
  float: right;
}