.post-form{
  margin-bottom: 20px;
}

.postform-container {
    margin-bottom: 20px;
    padding: 16px 40px;
    border-radius: 20px;
    position: relative;
    background-color: #f8f8f8;

    .form-control{
      display: flex;
    }

    .img-postform{
      width: 30px !important;
      margin-right: 10px;
    }

    .btn-send{
      margin-top: 10px;
      justify-content: right;
    }
}
