.avatar-profil{
    width:70px !important;
}

.card-img-overlay{
    height: 100px;
}

.follow{
    border: none !important;
}

.hstack{
    align-self: center !important;
    text-align: center !important;
}