.main{
    ul{
        padding-left: 0px !important;
    }
}
.profil-picture{
    max-width: 80px !important;
    margin: 10px 0 0 10px;
}

.video-trend{
    width: 100%;
    height: 100%;
}
.list-trend{
    padding-left: 0px !important;

    li{
        margin-bottom: 1rem;
    }
}